<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>welcome to Nithish html page</h1>
        <a href="{% url 'app2:anil' %}">go to Anil page</a><br>
        <a href="{% url 'app1:hari' %}">go to Hari page</a><br>
        <a href="{% url 'app1:parvathi' %}">go to parvathi page</a>
    </center>
</body>
</html>